<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="com/base::layout(~{::body})">
<head th:include="com/base :: headerFragment"> <title id="pageTitle">Class Scheduled</title>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
</head>
<body>
	<div class="page-content">

		<h1>
			Scheduled Class List <i class="bi bi-download"></i>
		</h1>
		<hr>
		<a th:href="@{/schedule/form}" class="btn btn-primary btn-sm mb-3">
			Scheduled a Class</a>

		<table border="1" class="table table-striped table-bordered table-hover">
			<thead>
				<tr>
					<th>
					<a th:href="@{'/schedule/page/' + ${currentPage} + '?sortField=mStName&sortDir=' + ${reverseSortDir}}"> Name</a></th>
					<th>
					<a th:href="@{'/schedule/page/' + ${currentPage} + '?sortField=mICourseConfig&sortDir=' + ${reverseSortDir}}"> Course</a></th>
					<th>
					<a th:href="@{'/schedule/page/' + ${currentPage} + '?sortField=mDtschedule&sortDir=' + ${reverseSortDir}}">class on Date </a></th>
					<th>
					 Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="student : ${listGbltOtpStudentRegTrns}"> 
					<td th:text="${student.mStName}"></td>
					<td th:text="${student.ObjIYFCourseConfig.stName}"></td> 
					<td th:text="${student.mDtschedule}"></td>
					<td>
					<a th:href="@{/schedule/showFormForUpdate/{id}/{configId}(id = ${student.mIClassId}, configId = ${student.mICourseConfig})}" class="btn btn-primary">Update</a> 
					
					<a th:href="@{/schedule/delete/{id}(id=${student.mIClassId})}" ></a></td>
				</tr>
			</tbody>
		</table>

		<div th:if="${totalPages > 1}">
			<div class="row col-sm-10">
				<div class="col-md-3">Total Rows: [[${totalItems}]]</div>
				<div class="col-md-7"
					style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}"> <a
						th:if="${currentPage != i}"
						th:href="@{'/schedule/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;
						&nbsp;
					</span>
				</div>
				<div class="col-md-1">
					<a th:if="${currentPage < totalPages}"
						th:href="@{'/schedule/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
				</div>

				<div class="col-md-1">
					<a th:if="${currentPage < totalPages}"
						th:href="@{'/schedule/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
				</div>
			</div>
		</div>
 	</div>
</body>
</html>